<!-- Created by Keten ,2863861004@qq.com -->
<!-- This file is used to display more robots -->
<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch"/>

  <!-- launch run_description.launch with namespace -->
  <include file="$(find joint_controller)/launch/run_description.launch">
    <arg name="namespace" value="my_arm" />
    <arg name="load_default_controllers" value="true"/>
    <arg name="load_default_joints_limits" value="true"/>
    <arg name="x" value="5.5" />
    <arg name="y" value="0.0" />
    <arg name="z" value="0.0" />
    <arg name="yaw" value="0.0" />
  </include>

  <include file="$(find joint_controller)/launch/run_description.launch">
    <arg name="namespace" value="my_arm2" />
    <arg name="load_default_controllers" value="true"/>
    <arg name="load_default_joints_limits" value="true"/>
    <arg name="x" value="-5.5" />
    <arg name="y" value="0.0" />
    <arg name="z" value="0.0" />
    <arg name="yaw" value="0.0" />
  </include>

    <!-- Add static transformations for rviz display -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="myarm_tf_pub" args="5.5 0 0 0 0 0 map my_arm/world" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="myarm2_tf_pub" args="-5.5 0 0 0 0 0 map my_arm2/world" />


    <!-- Start Rviz and load pre configuration -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find joint_controller)/config/rviz/plugin.rviz" />
</launch>